* {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            body {
                background: #70c5ce;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 100vh;
                flex-direction: column;
            }

            canvas {
                background: #70c5ce;
                display: block;
                border: 2px solid #333;
                margin-top: 20px;
            }

            .overlay {
                position: absolute;
                top: 20px;
                display: flex;
                gap: 10px;
            }

            button {
                padding: 10px 18px;
                font-size: 16px;
                border: none;
                border-radius: 6px;
                cursor: pointer;
                background-color: #ffffffcc;
                font-weight: bold;
                margin-top: 350px;
            }

            button:hover {
                background-color: #fff;
            }

            h1 {
                margin-top: 10px;
            }

            #jumpButtonWrapper {
                margin-top: 0px;
            }

            #jumpButton {
                font-size: 18px;
                font-weight: bold;
                background-color: #ffcc00;
                color: #333;
                border: none;
                border-radius: 30px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
                cursor: pointer;
                height: 70px;
            }

            #jumpButton:active {
                transform: scale(0.95);
            }